<!DOCTYPE HTML>

<!--
	Synchronous: A responsive HTML5 website template by HTML5Templates.com
	Released for free under the Creative Commons Attribution 3.0 license (html5templates.com/license)
	Visit http://html5templates.com for more great templates or follow us on Twitter @HTML5T
-->

<html>
<head>
<title>Lindsey Jackson</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<noscript>
<link rel="stylesheet" href="{{ page.root }}css/5grid/core.css" />
<link rel="stylesheet" href="{{ page.root }}css/5grid/core-desktop.css" />
<link rel="stylesheet" href="{{ page.root }}css/5grid/core-1200px.css" />
<link rel="stylesheet" href="{{ page.root }}css/5grid/core-noscript.css" />
<link rel="stylesheet" href="{{ page.root }}css/style.css" />
<link rel="stylesheet" href="{{ page.root }}css/style-desktop.css" />
</noscript>
<script src="{{ page.root }}css/5grid/jquery.js"></script>
<script src="{{ page.root }}css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none"></script>
<!--[if IE 9]><link rel="stylesheet" href="css/style-ie9.css" /><![endif]-->
</head><body>
<div id="wrapper">
	<header id="header">
		<div class="5grid-layout">
			<div class="row">
				<div class="12u" id="logo"> <!-- Logo -->
					<h1><a href="#" class="mobileUI-site-name">Lindsey Jackson</a></h1>
					<p>Graduate Student of Statistics at Iowa State University</p>
				</div>
			</div>
		</div>
		<div class="5grid-layout">
			<div class="row">
				<div class="12u" id="menu">
					<div id="menu-wrapper">
						<nav class="mobileUI-site-nav">
							<ul>
                                {% for link in site.navigation %}
                                  {% assign current = nil %}
                                  {% if page.url == link.url or page.layout == link.layout or page.post == link.text %}
                                        {% assign current = 'current_page_item' %}
                                  {% endif %}
                                  <li class="{% if forloop.first %}first{% endif %} {{ current }} {% if forloop.last %}last{% endif %}">
                                        <a class="{{ current }}" href="{{ link.url }}">{{ link.text }}</a>
                                  </li>
                                {% endfor %}
							</ul>  
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div id="page">
		<div class="5grid-layout">
			<div class="row">
				<div class="9u mobileUI-main-content">
					<div id="content">
						<section>
							<div class="post">
								{% if page.title %}<h2>{{ page.title }}</h2>{% endif %}
                                {{ content }}
							</div>
						</section>
					</div>
				</div>
				<div class="3u">
					<div id="sidebar2">
						<section>
							<div class="sbox1">
								<h2>Links</h2>
								<ul class="style1">
									<li class="first"><a href="http://andeekaplan.com" target="_blank">Andee Kaplan</a></li>
									<li><a href="http://www.iastate.edu" target="_blank">Iowa State University</a></li>
									<li><a href="http://www.stat.iastate.edu" target="_blank">ISU Department of Statistics</a></li>
									<li><a href="http://www.uh.edu" target="_blank">The University of Houston</a></li>
									<li><a href="http://www.mathematics.uh.edu" target="_blank">UH Department of Mathematics</a></li>
									<li><a href="http://www.econ.uh.edu" target="_blank">UH Department of Economics</a></li>
								</ul>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="5grid-layout">
	<div class="row" id="footer-content">
		<div class="3u">
			<section id="box1">
			<h2>About Me</h2>
			<div class="border-img"> <a href="{{ page.root }}index.html"><img src="{{ page.root }}images/lindsey.png" alt=""></a> </div>
			</section>
		</div>
		<div class="9u">
			<section id="box2">
				<p> Greetings! I am a Ph.D student in the Statistics Department at Iowa State University. Born in Tennessee and raised in Texas, I am now 
				managing to survive in Iowa.</p>
				<br/>
				<br/>
				<p>
				I completed my Bachelor of Arts in Mathematics and Bachelor of Science in Economics at the University of Houston in May of 2012. During my 
				undergraduate career, I assisted Dr. Ruxandra Prodan with her research in long-run GDP trends across all 26 OECD countries. Utilizing 
				advanced time series techniques, we tested the significance of structural breaks in growth: specifically, linear shifts, level shifts, or
				a combination of both. Conducting this research helped me to realize my love for statistics and desire to study this field at the graduate
				level.</p>
				<br/>
				<br/>
				<p>
				In my spare time I enjoy eating, sleeping, and showering. In my extra spare time I enjoy writing, recording, and producing music at an 
				amateur level. Whenever I accumulate large blocks of time and money, I like to travel the world. Check out my "Fun Stuff" section for 
				examples of my music and memoirs from my globe-trotting endeavors.
				</p>
			</section>
		</div>
	</div>
</div>
<div id="copyright" class="5grid-layout">
	<section>
		<p>&copy; <strong>Lindsey Jackson</strong> | Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a> on GitHub | Design: <a href="http://html5templates.com/">HTML5Templates.com</a></p>
	</section>
</div>
</body>
</html>